.footer {
    max-width: 1340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 176px;
    margin-bottom: 90px;
    margin-right: 50px;
    margin-left: 50px;
  }