.bet-button {
    all: initial;
    color: #fff;
    text-align: center;
    font-family: Raleway, "Arial", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 80px;
    align-self: baseline;
    border: 1px solid white;
    padding: 12px 32px;
    margin-bottom: 50px;
    cursor: pointer; 
  }

  .bet-button:hover {
    background-color: rgba(109, 18, 18, 0.455);
  }