.about__logo {
    background-color: #000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}