.address {
    all: initial;
    font-family: Raleway;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-top: 5px;
    align-self: flex-start;
    width: 240px;
}